body{
  background-color:#131313;
  min-height: 100vh;
}
/* NAVBAR GREEN GLOW ANIMATION */
.custom-navbar {
  position: relative;
  top: 0;
  width: 100%;
  background-color: #212529;
  box-shadow: 0px 0px 10px rgba(0, 255, 100, 0.3);
  animation: greenGlow 3s ease-in-out infinite;
  transition: all 0.5s ease;
}

/* Animated Green Shadow */
@keyframes greenGlow {
  0% {
    box-shadow: 0px 0px 8px rgba(0, 255, 100, 0.3);
  }
  20% {
    box-shadow: 0px 0px 18px rgba(0, 255, 100, 0.4);
  }

  40% {
    box-shadow: 0px 0px 18px rgba(0, 255, 100, 0.5);
  }

  60% {
    box-shadow: 0px 0px 30px rgba(0, 255, 100, 0.4);
  }

  80% {
    box-shadow: 0px 0px 18px rgba(0, 255, 100, 0.3);
  }

  100% {
    box-shadow: 0px 0px 8px rgba(0, 255, 100, 0.2);
  }
}


/* BUTTON */
.custom-btn {

  transition: all 0.3s ease;
  animation: jump 2s ease-in-out infinite;
}

/* Jump Animation */
@keyframes jump {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-8px);
  }

  40% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(-4px);
  }

  80% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}


/* Hover Effect */
.custom-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0, 255, 100, 0.7);
}
.custom-hero{

  min-height: 100vh;
    padding-top: 10rem !important;
  background-color: #212529;
  color: antiquewhite;
}
.custom-question{
  background-color: #212529;
  color: white;
}
/* QUIZ PAGE CONTAINER */
.custom-quizpage {
  position: relative;
  display: flex;
  min-height: 50vh;
  background-color: #212529;
  overflow: hidden;
  border-radius: 20px;
  padding: 4px;
  margin-top: 8rem;
}


/* ROTATING GREEN BORDER */
.custom-quizpage::before {
  content: "";
  position: absolute;
  width: 250%;
  height: 250%;
  background: conic-gradient(
    transparent,
    transparent,
    transparent,
#39ff14  );

  animation: rotateBorder 4s linear infinite;

  top: -75%;
  left: -75%;
}


/* INNER CONTENT */
.custom-quizpage::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #212529;
  border-radius: 16px;
  z-index: 1;
}


/* KEEP CONTENT ABOVE ANIMATION */
.custom-quizpage > * {
  position: relative;
  z-index: 2;
}


/* ROTATION ANIMATION */
@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.option-btn {
  transition: all 0.3s ease;
}

.option-btn:hover {
  transform: scale(1.03);
}
.custom-scorepage{
   position: relative;
  display: flex;
  min-height: 50vh;
  background-color: #212529;
  overflow: hidden;
  border-radius: 20px;
  padding: 4px;
  margin-top: 8rem;
}
/* ROTATING GREEN BORDER */
.custom-scorepage::before {
  content: "";
  position: absolute;
  width: 250%;
  height: 250%;
  background: conic-gradient(
    transparent,
    transparent,
    transparent,
#39ff14  );

  animation: rotateBorder 4s linear infinite;

  top: -75%;
  left: -75%;
}


/* INNER CONTENT */
.custom-scorepage::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #212529;
  border-radius: 16px;
  z-index: 1;
}


/* KEEP CONTENT ABOVE ANIMATION */
.custom-scorepage > * {
  position: relative;
  z-index: 2;
}
/* ROTATION ANIMATION */
@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.retake-btn{
  transition: all 0.3s ease;
  animation: jump 2s ease-in-out infinite;
}
/* Jump Animation */
@keyframes jump {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-8px);
  }

  40% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(-4px);
  }

  80% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}
